#footer {
    font-size: 80%;
    border-style: solid;
    background-color: #181818;
    height: 24%;
  clear: both;
  }
  
  .footer-box {
    width: 48%;
    float:right;
  }
  
  .footer-box img {
    height:48px;
    padding:5% 3%;
    width: auto;
  }
  
  .footer-box ul {
    list-style-type: none;
  }
  
  #footer li {
    padding:0.8% 10%;
  }
  
  #footer li a {
    color:#fff;
    text-decoration: none;
  }

@media(max-height:200px) {
  .footer-box img {
    height: 18px;
  }
}